*,
*::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.platform {
  --position: 50;
  position: absolute;
  top: calc(var(--position) * 1vh);
  background-color: white;
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}
.platform.plr {
  left: 1vw;
}

.platform.cmp {
  right: 1vw;
}
.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  background-color: white;
  width: 2.5vh;
  height: 2.5vh;
  transform: translate(-50%, -50%);
  top: calc(var(--y) * 1vh);
  left: calc(var(--x) * 1vw);
  border-radius: 50%;
}
.score {
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-weight: bold;
  font-size: 4vh;
  margin: 1vh 0;
  opacity: 50%;
}
.score > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
}
.score > :first-child {
  text-align: right;
}
